<% for(var i=0; i< chain.length; i++){ %>
<div class="evs"> 


 
	<% for(var j=0; j<chain[i].length; j++){ %>

	<div>
	
	
 	<%= chain[i][j]["name"] %>
  	
	
	
	</div>
	
	

	
	

	<% } %>
			
		
 
<% } %>